<div class="container d-flex justify-content-center align-items-center flex-column" id="what-we-do">
    <div>
      <h1>{{include.info.title}}</h1>
    </div>
    <div>
      <p>{{include.info.body}}</p>
    </div>
    <div id="technologies" class="d-flex justify-content-center align-items-center">
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <h1>Ruby</h1>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <h1>JS</h1>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <h1>PostgreSQL</h1>
      </div>
      <div class="card d-flex flex-column justify-content-center align-items-center">
        <h1>Heroku</h1>
      </div>
    </div>
  </div>
</div>
